%h1 Base Assumptions

%h3 General things to keep in mind

%p
  We try to make the culture at Double Union more welcoming than the world at large. Here are some of the values and best practices you can expect other members to share, what isn't okay in the space no matter whether you are a member or not, and general guidelines. See also our #{link_to "anti-harassment policy", policies_path}.

%h3 Values you can assume other members strive to uphold:
%ul
  %li “Women” includes trans women, not all women have uteri/XX chromosomes/etc.
  %li LGBTQA-supportive (lesbian, gay, bisexual, trans, queer, asexual)
  %li The majority of gender-associated differences are socialized, not biological
  %li Feminism is good
  %li #{external_link_to "Meritocracy is a joke", "http://www.garann.com/dev/2012/you-keep-using-that-word/"}
  %li #{external_link_to "Intersectionality", "http://geekfeminism.wikia.com/wiki/Intersectionality"} is super important (credit: Kimberlé Crenshaw)
  %li Classism is not okay
  %li Prioritizing women and our needs is perfectly awesome and needs no excuse
  %li If you get called out on something, apologize and learn from it
  %li It’s okay to disagree, not okay to blame self or others
  %li Respect people’s gender pronouns

%h3 Stuff that isn’t okay in this space:
%ul
  %li Taking “reverse sexism” or “reverse racism” seriously
  %li Questioning the existence of privilege (white privilege, class privilege, etc)
  %li Using the phrase “politically correct” when you are not 100% obviously ironic
  %li Requests for feminism 101 education
  %li Playing devil’s advocate
  %li Asking someone to educate you about an aspect of their identity
  %li Telling people how to do feminism right
  %li Making statements that assume that everyone shares an experience of privilege (eg. has gone to college, can afford to eat out, can find employment easily, has a functional family)
  %li Touching people without explicit verbal consent
  %li Policing people’s bodies or what they choose to eat
  %li #{external_link_to "Taking away someone's keyboard", "http://tldp.org/HOWTO/Encourage-Women-Linux-HOWTO/x168.html"} instead of showing them how to do it
  %li Making fun of people for asking questions showing they lack technical knowledge
  %li Petting or interacting with anyone's on-duty service animal
  %li Making fun of people with penises, testicles, or XY chromosomes - some women have these

%p
  #{external_link_to "CC BY-SA Double Union", "https://creativecommons.org/licenses/by-sa/4.0/"}
