- if @accepting_applications
  %p.text-center
    Double Union is currently accepting applications for membership! Learn more on the #{ link_to "membership page", membership_path, class: "alert-link" }.
.jumbotron
  .container
    .jumbotron-content
      %h2
        Double Union is a hacker/maker space for women and non-binary people in San Francisco.
      %p
        Our mission is to be a community workshop where women and non-binary people can work on
        projects in a comfortable, welcoming environment.
      - button_text = @accepting_applications ? 'Apply for Membership' : 'Learn about Membership'
      = link_to button_text, membership_path, class: 'btn btn-primary btn-lg'
      = link_to 'Support Double Union', support_path, class: 'btn btn-default btn-lg'

.container
  %h3 Double Union is a space for your projects
  %p
    Things women and non-binary people do in this space include sewing, programming, electronics,
    screenprinting, fiber arts of all kinds, and zine making.
  %p
    Fast internet, shared tools, a carefully curated library of books and
    zines, and discussion spaces make this a great space for working on your
    projects, learning skills, and meeting new friends.
  %p
    Double Union is a supportive community for feminist activism. We are intersectional
    feminists, centered on women and non-binary people, and queer and trans-inclusive.

  %h3 Visiting Double Union: Classes, Open Houses and Events

  %p
    Double Union is #{link_to "located in San Francisco's Potrero Hill neighborhood", visit_path}.

  %p
    Other than during events open to the public, Double Union visitors must
    be the invited guest of a member. Please do not visit without the express
    invitation of a member. Please do not invite guests unless you are a
    member. Guests may be any gender or age.
  %p
    You can find out about upcoming events (and learn more about us) on #{link_to 'our blog', TUMBLR_URL},
    following us on Twitter at #{external_link_to "@#{TWITTER_USERNAME}", TWITTER_URL}, #{external_link_to "Facebook", FACEBOOK_URL}, #{external_link_to "Instagram", INSTAGRAM_URL}, or joining our #{link_to "general interest mailing list", MAILING_LIST_GENERAL}. (Note: By clicking on the mailing list link, you will be redirected to our Google Groups page. Click "Join group" or "Subscribe to this group" to get emails.)

  %h3 Membership
  - if @accepting_applications
    %p
      Double Union is accepting new members! Members join through an application and voting process. If you're interested in being part of Double Union, please apply.
  - else
    %p
      Members join through an application and voting process. If you're interested in being part of Double Union, please subscribe to #{link_to 'our blog', TUMBLR_URL}, #{external_link_to "Twitter", TWITTER_URL}, or #{link_to "general interest mailing list", MAILING_LIST_GENERAL} to receive an announcement when we reopen membership applications. (Note: By clicking on the mailing list link, you will be redirected to our Google Groups page. Click "Join group" or "Subscribe to this group" to get emails.)

  %p
    Check out our #{ link_to "membership page", membership_path } to learn more.

  %h3 Want to Support Double Union?
  %p
    Double Union is a non-profit supported entirely by donations, membership
    dues, and volunteers.

  %p
    We would love your support for maintaining our makerspace in San
    Francisco! We hope to serve as a role model and resource for other
    makerspaces and hackerspaces around the world.

  = render "donate"

  %p
    You can also reuse or contribute to our open source #{external_link_to "website code", GITHUB_SITE_URL} and #{external_link_to "internal membership management app code", GITHUB_AROOO_URL}.
