%h2 Membership

- unless @accepting_applications
  .alert.alert-info
    We aren't currently accepting applications. Join our #{ link_to "general interest mailing list", "http://lists.doubleunion.org/listinfo.cgi/doubleunion-doubleunion.org", class: "alert-link"} to be notified when applications are open again!

%p
  New members join through an application and voting process. If you're interested in being part of Double Union but aren't sure whether you're “good enough,” please apply - we don't evaluate applicants on whether they're “cool” or accomplished. Read on to hear about what we're looking for, and don't let #{ link_to "impostor syndrome", "http://geekfeminism.wikia.com/wiki/Impostor_syndrome" } stop you.

%p
  Along with submitting an application, a qualification for membership is that you've met at least one member who is willing to say you seem like a respectful potential member (such as that you'd respect the #{ link_to "base assumptions", base_assumptions_path }, #{ link_to "anti-harassment policy", policies_path }, and responsibilities of being a member). Please come to events to meet some of us! Or if you'd prefer a quieter opportunity to meet just a couple members over a cup of tea, email #{ mail_to I18n.t('du.join_email') } and we'll set this up.

%h3 Membership qualifications

%p
  Double Union welcomes members with a broad variety of interests, skills, identities, backgrounds, and histories. What we have in common is a #{ link_to "set of values (base assumptions)", base_assumptions_path } and an interest in supporting each other and Double Union. We want to accept more members who share our values and our commitment to building a safer space together.

%p
  To keep the focus on a great space for women (trans, cis, queer, straight, and not-fitting-into-those-labels/other), all members must identify as women in a way that's significant to them. Members must also be old enough to carry out any responsibilities. Guests of members may be any gender or age. We specifically encourage bringing (supervised) children to the space.

%h3 How do members use the space?

%p
  To get a sense of what current members work on in the space, see our #{ link_to "visitor information", visit_path}, #{ link_to "blog", TUMBLR_URL}, and #{ link_to "Twitter", TWITTER_URL} to find out about events/projects and equipment, or come to some events!

%p
  People work on many things in the space, including adding lights to bicycles, zine making, electronics, public speaking, finding jobs, contributing to open source software, printmaking and textiles, 3D printing, CNC machining, fiber arts, sewing/serging, and reading in the library. We encourage coworking in the space, as long as it doesn't interfere with events or members using the space for its primary purpose: working on projects in a safe and welcoming environment.

%p
  We have a very active members-only mailing list where events, workshops, and meetings are thought up and scheduled, as well as a members-only calendar. Any member can propose an event or workshop!

%h3 Membership benefits and responsibilities

%p
  All members pay monthly membership dues (what you can afford – generally $10, $25, or $50/month) or have $0 scholarship dues if paying would be a hardship.

%h4 Members

%p This is the default type of membership, but most members choose to become key members (see next section). Members can:

%ul
  %li Use the space when a key member is present
  %li Store your projects in the space (within reason)
  %li Bring guests who identify as women in ways that are significant to them

%h4 Key members

%p After attending at least two events (including at least one members meeting) and agreeing to uphold the responsibilities of a key member, you get a key code that lets you use the space whenever you like.

%p If you are a key member, you can also:

%ul
  %li Get into the space at any time
  %li Bring guests of any gender

%p Key members also have responsibilities:

%ul
  %li Lock the space when leaving
  %li Kick people out of the space if they are violating the anti-harassment policy
  %li Enforce the guest policy (not letting someone in the space that is not a member or guest of a member, unless a public event is taking place)

%h4 Voting members

%p Voting members (who are usually also key members) choose to take on the additional responsibility of reviewing and voting on membership applications.

- if @accepting_applications
  %h3 Apply

  %p
    New members join through an application and voting process. To apply for Double
    Union membership, you'll start by authenticating with GitHub or Google.

  %b
    Before you apply, though, please read through our #{ link_to "Base Assumptions", base_assumptions_path }. They are very important to us and we want all members to be comfortable with them.

  %p= link_to 'Apply to Join', "#{DU_APP_URL}/login", class: 'btn btn-primary btn-lg'

%h3 Current members

%p Some of our members include:
.current-members
  - @public_members.each do |user|
    .current-member
      .member-image
        - if user.gravatar_url
          = image_tag user.gravatar_url, alt: user.name, title: user.name, class: 'icon-50'
      .member-info
        %span.member-name
          - if user.profile.website
            = link_to user.name, user.profile.website
          - else
            = user.name
        %span.member-status= user.display_state
