%nav.navbar.navbar-default{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.navbar-ex1-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Double Union', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li= external_link_to 'Blog', TUMBLR_URL
        %li= external_link_to 'Twitter', TWITTER_URL
      %ul.nav.navbar-nav.pull-right
        %li{'data-toggle' => 'modal', 'data-target' => '#log_in'}
          = link_to "Log In", "#"

.modal#log_in
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        = link_to "Log In with GitHub", "#", class: "btn btn-primary"
        = link_to "Log In with Google", "#", class: "btn btn-primary"
